In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [5]:
engine = create_engine('sqlite:///Chinook.sqlite')

In [7]:
con = engine.connect()

In [ ]:
df = pd.DataFrame(rs.fetchall())

In [ ]:
engine.dispose()

In [ ]:
con.close()

In [ ]:
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()

## Do same using pandas

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
query = "Select * From Album"
df = pd.read_sql_query(query, engine)