In [1]:
di = {
    "Date":['21-01-20', '22-01-20', '23-01-20', '24-01-20', '25-01-20', '26-01-20', '27-01-20',],
    "Ozone":[41, 42, 23, 14, 55, 76, 97],
    "Solar.R":[10, 22, 13, 44, 55, 66, 78],
    "Wind":[165, 265, 365, 495, 536, 685, 756],
    "Temp":[41, 42, 33, 34, 35, 37, 39],
}

In [2]:
import pandas as pd

airquality = pd.DataFrame(di)
airquality.head()

       Date  Ozone  Solar.R  Wind  Temp
0  21-01-20     41       10   165    41
1  22-01-20     42       22   265    42
2  23-01-20     23       13   365    33
3  24-01-20     14       44   495    34
4  25-01-20     55       55   536    35

In [4]:
# Print the head of airquality
print(airquality.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(airquality, id_vars='Date', value_vars=['Ozone', 'Solar.R', "Wind", "Temp"])

# Print the head of airquality_melt
print(airquality_melt)

       Date  Ozone  Solar.R  Wind  Temp
0  21-01-20     41       10   165    41
1  22-01-20     42       22   265    42
2  23-01-20     23       13   365    33
3  24-01-20     14       44   495    34
4  25-01-20     55       55   536    35
        Date variable  value
0   21-01-20    Ozone     41
1   22-01-20    Ozone     42
2   23-01-20    Ozone     23
3   24-01-20    Ozone     14
4   25-01-20    Ozone     55
5   26-01-20    Ozone     76
6   27-01-20    Ozone     97
7   21-01-20  Solar.R     10
8   22-01-20  Solar.R     22
9   23-01-20  Solar.R     13
10  24-01-20  Solar.R     44
11  25-01-20  Solar.R     55
12  26-01-20  Solar.R     66
13  27-01-20  Solar.R     78
14  21-01-20     Wind    165
15  22-01-20     Wind    265
16  23-01-20     Wind    365
17  24-01-20     Wind    495
18  25-01-20     Wind    536
19  26-01-20     Wind    685
20  27-01-20     Wind    756
21  21-01-20     Temp     41
22  22-01-20     Temp     42
23  23-01-20     Temp     33
24  24-01-20     Temp     34
25  25-01-20     Temp     35
26  26-01-20     Temp     37
27  27-01-20     Temp     39

In [5]:
# Print the head of airquality
print(airquality.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(airquality, id_vars='Date', var_name='measurement', value_name='reading')

# Print the head of airquality_melt
print(airquality_melt.head())

       Date  Ozone  Solar.R  Wind  Temp
0  21-01-20     41       10   165    41
1  22-01-20     42       22   265    42
2  23-01-20     23       13   365    33
3  24-01-20     14       44   495    34
4  25-01-20     55       55   536    35
       Date measurement  reading
0  21-01-20       Ozone       41
1  22-01-20       Ozone       42
2  23-01-20       Ozone       23
3  24-01-20       Ozone       14
4  25-01-20       Ozone       55

In [8]:
len(airquality_melt)

28

In [19]:
airquality_melt['Month'] = [*range(28)]
airquality_melt['Day'] = [*range(28)]

In [22]:
# Print the head of airquality_melt
print(airquality_melt.head())

# Pivot airquality_melt: airquality_pivot
airquality_pivot = airquality_melt.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading')

# Print the head of airquality_pivot
print(airquality_pivot.head())

       Date measurement  reading  Month  Day
0  21-01-20       Ozone       41      0    0
1  22-01-20       Ozone       42      1    1
2  23-01-20       Ozone       23      2    2
3  24-01-20       Ozone       14      3    3
4  25-01-20       Ozone       55      4    4
measurement  Ozone  Solar.R  Temp  Wind
Month Day
0     0       41.0      NaN   NaN   NaN
1     1       42.0      NaN   NaN   NaN
2     2       23.0      NaN   NaN   NaN
3     3       14.0      NaN   NaN   NaN
4     4       55.0      NaN   NaN   NaN

In [25]:
import numpy as np

# Pivot table the airquality_dup: airquality_pivot
airquality_pivot = airquality_melt.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading', aggfunc=np.mean)

# Print the head of airquality_pivot before reset_index
print(airquality_pivot.head())

# Reset the index of airquality_pivot
airquality_pivot = airquality_pivot.reset_index()

# Print the head of airquality_pivot
print(airquality_pivot.head())

# Print the head of airquality
print(airquality.head())

measurement  Ozone  Solar.R  Temp  Wind
Month Day
0     0       41.0      NaN   NaN   NaN
1     1       42.0      NaN   NaN   NaN
2     2       23.0      NaN   NaN   NaN
3     3       14.0      NaN   NaN   NaN
4     4       55.0      NaN   NaN   NaN
measurement  Month  Day  Ozone  Solar.R  Temp  Wind
0                0    0   41.0      NaN   NaN   NaN
1                1    1   42.0      NaN   NaN   NaN
2                2    2   23.0      NaN   NaN   NaN
3                3    3   14.0      NaN   NaN   NaN
4                4    4   55.0      NaN   NaN   NaN
       Date  Ozone  Solar.R  Wind  Temp
0  21-01-20     41       10   165    41
1  22-01-20     42       22   265    42
2  23-01-20     23       13   365    33
3  24-01-20     14       44   495    34
4  25-01-20     55       55   536    35

In [ ]:
# Melt tb: tb_melt
tb_melt = pd.melt(tb, id_vars=['country', 'year'])

# Create the 'gender' column
tb_melt['gender'] = tb_melt.variable.str[0]

# Create the 'age_group' column
tb_melt['age_group'] = tb_melt.variable.str[1:]

# Print the head of tb_melt
print(tb_melt.head())

In [ ]:
# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola_melt['type'] = ebola_melt.str_split.str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt.str_split.str.get(1)

# Print the head of ebola_melt
print(ebola_melt.head())