In [1]:
import pandas as pd
import random

di = {
    "People ": [*["people "+str(i) for i in range(10)]],
    "Salary ": [*[random.randint(5000, 10000) for i in range(10)]],
    "Age ": [*[random.randint(30, 50) for i in range(10)]],
}

df = pd.DataFrame(di)
df.head()

    People   Salary   Age
0  people 0     9438    30
1  people 1     8102    36
2  people 2     9526    36
3  people 3     8840    50
4  people 4     9530    37

In [11]:
from glob import glob

glob("*.csv")

['GOOG.csv']