In [2]:
import re

# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d{3}\.\d{2}', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='\w*', string='Australia'))
print(pattern3)

True
True
True

In [54]:
txt = "Akrotiri and Dhekelia"
x = re.search("[A-Za-z\.\s]*$", txt)
x

In [46]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

## Using apply

In [16]:
import pandas as pd

di = {
    "m":["$21.458", "$22.45454", "$23.5650", "$24.56505654", "$25.369502", "$26.1250784",]
}

df = pd.DataFrame(di)

In [17]:
df

              m
0       $21.458
1     $22.45454
2      $23.5650
3  $24.56505654
4    $25.369502
5   $26.1250784

In [18]:
df['time'] = df.m.apply(lambda x: x.replace("$", ""))

In [19]:
df

              m         time
0       $21.458       21.458
1     $22.45454     22.45454
2      $23.5650      23.5650
3  $24.56505654  24.56505654
4    $25.369502    25.369502
5   $26.1250784   26.1250784

In [25]:
df.time.apply(lambda x: re.findall('\d+\.\d+', x)[0])

0         21.458
1       22.45454
2        23.5650
3    24.56505654
4      25.369502
5     26.1250784
Name: time, dtype: object

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
m       6 non-null object
time    6 non-null object
dtypes: object(2)
memory usage: 224.0+ bytes

In [29]:
df.time

0         21.458
1       22.45454
2        23.5650
3    24.56505654
4      25.369502
5     26.1250784
Name: time, dtype: object

In [30]:
df['value'] = df.time.apply(lambda x: round(float(x), 2))

In [31]:
df

              m         time  value
0       $21.458       21.458  21.46
1     $22.45454     22.45454  22.45
2      $23.5650      23.5650  23.57
3  $24.56505654  24.56505654  24.57
4    $25.369502    25.369502  25.37
5   $26.1250784   26.1250784  26.13